<form action="/session" method="POST">
  <label>
    Email:
    <input name="email" />
  </label>

  <label>
    Password:
    <input name="password" />
  </label>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <button>Sign In</button>
</form>