<nav id='navbar'>
   <button id='loginFormButton'>Login</button>
   <button id='signUpFormButton'>Sign Up</button>
   <button id='newQuestionButton'>Make new Question</button>
   <button id='viewDailyDeckButton'>View Daily Deck</button>
</nav>

<div class='main'>

    <div class='auth'>
    </div>

    <div id='flippable'>
      <div class='questionCard'>
      </div>

      <div class='answerForm'>
      </div>

      <div class='questionForm'>
      </div>
    </div>

    <div class='answerCards'>
    </div>


</div>
