<div class='main'>


    <div class='auth'>
    </div>

    <div class='questionCard'>
    </div>

    <div class='answerForm'>
    </div>

    <div class='questionForm'>
    </div>

    <div class='questionCard'>
    </div>

    <div class='answerCards'>
    </div>


</div>
