<html>
<head>
	<title>UBlank</title>
</head>
<body>
<h1>Sign In</h1>
<form action="/session" method="POST">
  <label>
    Email:
    <input type="text" name="email" />
  </label>

  <label>
    Password:
    <input type="text" name="password" />
  </label>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <button name="signin">Sign In</button>
</form>

 <br>
 <br>
  <h1>Create New Account</h1>

  	<form method="POST" action="/users">
		First Name
		<input type="text" name="fname"/>
		Last Name
		<input type="text" name="lname"/>
		Email
		<input type="text" name="email"/>
		Password
		<input type="text" name="password"/>
		Image URL
		<input type="text" name="image_url"/>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="submit"/>
	</form>
</body>
</html>