<div class='container'>
<nav id='navbar' class='navbar'>
  <button id='loginFormButton'>Login</button>
  <button id='signUpFormButton'>Sign Up</button>
  <button id='newQuestionButton'>Make new Question</button>
  <button id='viewDailyDeckButton'>View Daily Deck</button>
</nav>
</div>

<div class='main container'>

  <div class="jumbotron">
    <h1>uBlank</h1>
    <p class="lead">blank...u?</p>
  </div>

    <div class='auth'>
    </div>

    <div id='flippable'>

    </div>


</div>
